<?xml version="1.0"?>
<robot name="ackermann_drive" xmlns:xacro="http://ros.org/wiki/xacro">
  <material name="Black">
    <color rgba="0 0 0 1" />
  </material>
  <material name="Grey">
    <color rgba="0.8 0.8 0.8 1" />
  </material>
  <material name="Orange">
    <color rgba="1 0.6 0 1" />
  </material>
  <material name="White">
    <color rgba="1 1 1 1" />
  </material>

  <link name="base_link" />

  <!-- Chassis -->
  <link name="chassis">
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <box size="2 1 0.5" />
      </geometry>
    </collision>

    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <box size="2 1 0.5" />
      </geometry>
      <material name="Orange" />
    </visual>

    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <mass value="100" />
      <inertia ixx="10.4" ixy="0.0" ixz="0.0" iyy="35.4" iyz="0.0" izz="41.66" />
    </inertial>
  </link>

  <joint name="chassis_joint" type="fixed">
    <origin xyz="0.8 0 0.5" rpy="0 0 0" />
    <parent link="base_link" />
    <child link="chassis" />
  </joint>

  <!-- rear left wheel Link -->
  <link name="rear_left_wheel">
    <collision>
      <geometry>
        <cylinder length="0.08" radius="0.3" />
      </geometry>
    </collision>
    <visual>
      <geometry>
        <cylinder length="0.08" radius="0.3" />
      </geometry>
      <material name="Black" />
    </visual>

    <inertial>
      <mass value="11.3" />
      <inertia ixx="0.26" ixy="0.0" ixz="0.0" iyy="0.26" iyz="0.0" izz="0.51" />
    </inertial>
  </link>

  <joint name="rear_left_wheel_joint" type="continuous">
    <origin xyz="-0.8 0.5 -0.2" rpy="-1.57 0 0" />
    <parent link="chassis" />
    <child link="rear_left_wheel" />
    <axis xyz="0 0 1" />
    <dynamics damping="0.2" />
  </joint>

  <!-- rear right wheel Link -->
  <link name="rear_right_wheel">
    <collision>
      <geometry>
        <cylinder length="0.08" radius="0.3" />
      </geometry>
    </collision>
    <visual>
      <geometry>
        <cylinder length="0.08" radius="0.3" />
      </geometry>
      <material name="Black" />
    </visual>
    <inertial>
      <mass value="11.3" />
      <inertia ixx="0.26" ixy="0.0" ixz="0.0" iyy="0.26" iyz="0.0" izz="0.51" />
    </inertial>
  </link>

  <joint name="rear_right_wheel_joint" type="continuous">
    <origin xyz="-0.8 -0.5 -0.2" rpy="-1.57 0 0" />
    <parent link="chassis" />
    <child link="rear_right_wheel" />
    <axis xyz="0 0 1" />
    <dynamics damping="0.2" />
  </joint>

  <!-- left steer Link -->
  <link name="left_wheel_steering">
    <inertial>
      <mass value="0.1"/>
      <inertia ixx="0" ixy="0.0" ixz="0.0" iyy="0.0" iyz="0.0" izz="0.0" />
    </inertial>
  </link>

  <joint name="left_wheel_steering_joint" type="revolute">
    <origin xyz="0.9 -0.5 -0.2" rpy="1.57 0 0" />
    <parent link="chassis" />
    <child link="left_wheel_steering" />
    <axis xyz="0 1 0" />
    <dynamics damping="0.2" />
    <limit effort="1000.0" lower="-1.57" upper="1.57" velocity="30"/>
  </joint>

  <!-- right steer Link -->
  <link name="right_wheel_steering">
    <inertial>
      <mass value="0.1"/>
      <inertia ixx="0" ixy="0.0" ixz="0.0" iyy="0.0" iyz="0.0" izz="0.0" />
    </inertial>
  </link>

  <joint name="right_wheel_steering_joint" type="revolute">
    <origin xyz="0.9 0.5 -0.2" rpy="1.57 0 0" />
    <parent link="chassis" />
    <child link="right_wheel_steering" />
    <axis xyz="0 1 0" />
    <dynamics damping="0.2" />
    <limit effort="1000.0" lower="-1.57" upper="1.57" velocity="30"/>
  </joint>

  <!-- front left wheel Link -->
  <link name="front_left_wheel">
    <collision>
      <geometry>
        <cylinder length="0.08" radius="0.3" />
      </geometry>
    </collision>
    <visual>
      <geometry>
        <cylinder length="0.08" radius="0.3" />
      </geometry>
      <material name="Black" />
    </visual>
    <inertial>
      <mass value="11.3" />
      <inertia ixx="0.26" ixy="0.0" ixz="0.0" iyy="0.26" iyz="0.0" izz="0.51" />
    </inertial>
  </link>

  <joint name="front_left_wheel_joint" type="continuous">
    <origin xyz="0 0 0" rpy="0 0 0" />
    <parent link="left_wheel_steering" />
    <child link="front_left_wheel" />
    <axis xyz="0 0 1" />
    <dynamics damping="0.2" />
  </joint>

  <!-- front right wheel Link -->
  <link name="front_right_wheel">
    <collision>
      <geometry>
        <cylinder length="0.08" radius="0.3" />
      </geometry>
    </collision>
    <visual>
      <geometry>
        <cylinder length="0.08" radius="0.3" />
      </geometry>
      <material name="Black" />
    </visual>
    <inertial>
      <mass value="11.3" />
      <inertia ixx="0.26" ixy="0.0" ixz="0.0" iyy="0.26" iyz="0.0" izz="0.51" />
    </inertial>
  </link>

  <joint name="front_right_wheel_joint" type="continuous">
    <origin xyz="0 0 0" rpy="0 0 0" />
    <parent link="right_wheel_steering" />
    <child link="front_right_wheel" />
    <axis xyz="0 0 1" />
    <dynamics damping="0.2" />
  </joint>

  <ros2_control name="GazeboSystem" type="system">
    <hardware>
      <plugin>gz_ros2_control/GazeboSimSystem</plugin>
    </hardware>
    <joint name="rear_left_wheel_joint">
      <command_interface name="velocity" />
      <state_interface name="velocity" />
      <state_interface name="position" />
    </joint>
    <joint name="rear_right_wheel_joint">
      <command_interface name="velocity" />
      <state_interface name="velocity" />
      <state_interface name="position" />
    </joint>
    <joint name="left_wheel_steering_joint">
      <command_interface name="position" />
      <state_interface name="position" />
    </joint>
    <joint name="right_wheel_steering_joint">
      <command_interface name="position" />
      <state_interface name="position" />
    </joint>
  </ros2_control>

  <gazebo>
    <plugin filename="gz_ros2_control-system" name="gz_ros2_control::GazeboSimROS2ControlPlugin">
      <parameters>$(find gz_ros2_control_demos)/config/ackermann_drive_controller.yaml</parameters>
    </plugin>
  </gazebo>

</robot>
